/*import Helvetica Nue*/

.container{
  background-color: #E6DB93;
  min-width:100%;
}
#input{
  background-color:#737373;
  color: #1AB898;
  margin:1em;
}
#chart{
  background-color:lightgrey;
}
#output{
  background-color:#1AB898;
  margin:1em;
}
#chart-margins{
  width:60%;
  margin-left:20%;
  margin-right:20$;
}

body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-reset{
  color:#F3F3F3;
  background-color:#425859;
}
.btn-submit{
  color:#F3F3F3;
  background-color:#425859;
}

/*Tablet 768 - 1024*/
@media screen and (max-width: 1024px) and (min-width: 861px) {
  h3{
    font-size: 1.5em !important;
    color: green !important;
  }
}

 /*Phone 640 - 860 */
@media screen and (max-width: 860px) {
  h3{
    font-size: 1.4em;
    color: white;
  }
}
