.container{
  min-width:100%;
}
#input{
  background-color:green;
}
#chart{
  background-color:lightgrey;
}
#output{
  background-color:red;
}
#canvas{

}
.btn-primary{
  color:purple;
  background-color:purple;
}
